<div id="index" v-cloak>

  <div class="container" style="border: thin red solid;">
  </div>

  <h1>TODO: Implement this page.</h1>
  <p><%= ticket.category.name %></p>
  <p><%= ticket.creator.emailAddress %></p>
  <p><%= ticket.subject %></p>
  <p><%= ticket.body %></p>
  <p><%= ticket.status %></p>
  <p>(See also <em>assets/styles/pages/ticket/index.less</em>, <em>assets/js/pages/ticket/index.page.js</em>, and <em>api/controllers/ticket/view-index.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
