<div id="ticket-index">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <h1><%= ticket.subject %></h1>

        <hr>
        <br>

        <ajax-form action="createResponse" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm($event)" :handle-parsing="handleParsingForm">
          <div class="form-group">
            <label for="body">Reply</label>
            <textarea name="body" class="form-control" id='body' placeholder="Write a response here" :class="[formErrors.body ? 'is-invalid' : '']" v-model="formData.body" focus-first>
            </textarea>
            <div class="invalid-feedback" v-if="formErrors.body">Please provide a valid body</div>
          </div>
          <div class="form-row">
            <div class="form-inline col-md-6">
              <label for="status" class="mr-4">Status</label>
              <select class="form-control" id="status" :class="[formErrors.status ? 'is-invalid' : '']" v-model.trim="formData.status">
                <% for (let i = 0; i < statuses.length; i++) { %>
                <option value="<%= statuses[i].id %>"><%= statuses[i].name %></option>
                <% } %>
              </select>
              <div class="invalid-feedback" v-if="formErrors.status">Please select a valid Status</div>
            </div>
            <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
            <div class="form-inline col-md-6">
              <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Submit</ajax-button>
            </div>
          </div>
        </ajax-form>

        <br>
        <hr>
        <!--Responses go here.-->
        <% for (let i = 0; i < responses.length; i++) { %>
        <div class="card">
          <div class="card-body" style="background: #fafafa;">
            <div class="row">
              <div class="col-sm-3" style="text-align: center;">
                <img src="<%= responses[i].creator.gravatar %>">
                <p><%= responses[i].creator.emailAddress %></p>
                <p><%= responses[i].createdAt.toISOString().replace(/T/, ' ').replace(/\..*/, '') %></p>
              </div>
              <div class="col-sm-9" style="border-left: 3px grey solid;">
                <p style="white-space: pre-wrap;"><%- responses[i].mdBody %></p>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            Status: <%= responses[i].status.name %>
          </div>
        </div>
        <br>
        <% } %>

        <hr>

        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              Ticket: <%= ticket.subject %>
            </h3>
            <div class="row" style="background: #fafafa;">
              <div class="col-sm-3" style="text-align: center;">
                <img src="<%= ticket.creator.gravatar %>">
                <p><%= ticket.creator.emailAddress %></p>
                <p><%= ticket.createdAt.toISOString().replace(/T/, ' ').replace(/\..*/, '') %></p>
              </div>
              <div class="col-sm-9" style="border-left: 3px grey solid;">
                <p><%- ticket.mdBody %></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="padding-top: 80px; text-align: center;">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              Category: <%= ticket.category.name %>
            </h3>
            <h4>Status: <%= ticket.status %></h4>
            <div style="background: #fafafa;">
              <img src="<%= ticket.creator.gravatar %>">
              <p>Created by: <%= ticket.creator.emailAddress %></p>
              <p>Created at: <%= ticket.createdAt.toISOString().replace(/T/, ' ').replace(/\..*/, '') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
