<div id="index" v-cloak>

  <div class="container">
    <h1>My Tickets</h1>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Status</th>
          <th>Category</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
      <% for (let i = 0; i < tickets.length; i++) { %>
        <tr>
          <td><%= tickets[i].status %></td>
          <td><%= tickets[i].category /*tickets[i].category.name*/ %></td>
          <td><a href="/ticket/<%= tickets[i].id %>"><%= tickets[i].subject %></a></td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
